.quizContainer {
  font-family: Avenir, Helvetica, Sans-serif;
  width: 75%;
  max-width: 800px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 0px 0px 10px #dddddd;
  padding: 20px;
}

.instructionText {
  color: grey;
  font-weight: bold;
}

.questionText {
  margin: 0;
  font-size: 1.3em;
}

.answerDetail {
  padding-right: 25px;
}

ol {
  padding: 0;
}

li {
  padding: 10px 15px;
  box-shadow: 0px 0px 10px #dddddd;
  margin-bottom: 12px;
  list-style-position: inside;
  text-indent: -1.2em;
  padding-left: 2.5em;
}

.answerDetail {
  text-indent: 0;
  padding-left: 0;
}

button {
  background: none;
  border: 0;
  color: #138a13;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 10px 25px;
  margin-left: 20px;
  border: solid 1px #138a13;
  border-radius: 2px;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button:hover { 
  background-color: #138a13;
  color: white;
}

button:focus {
  outline: none;
}

.correctAnswer {
  color: #138a13;
}

.incorrectAnswer {
  color: #bd0101;
}

.footer {
  margin-top: 35px;
}

.scoreBoard {
  text-align: center;
}

.smallerFont {
  font-size: 0.9em;
}

.smallestFont {
  font-size: 0.8em;
}

.footerContainer {
  padding-left: 20px;
}

.footerLabel {
  color: grey;
  font-size: 0.7em;
}

.floatLeft {
  display: inline-block;
  float: left;
}

.floatRight {
  display: inline-block;
  float: right;
}

.footerContainer {
  display: inline-block;
}

.footerContainer p {
  margin-top: 0;
  margin-bottom: 5pt;
}

.clearBoth {
  clear: both;
}

.scoreDisplay {
  font-size: 1.8em;
}
